# Classify `Salim` using a simple deep NLP
I will try to get text embeddings of tweet then using distance-based to give prob. if tweet is salim.

## dataset
Here is using Natch's dataset 25/10/2020. For info see <https://github.com/nimmanarati/awesome-data-science>

In [1]:
from pathlib import Path

dir_store = Path('datasets') / "natch"

In [2]:
import pandas as pd
df = pd.read_csv(dir_store / "WeLoveTheKing.csv")

## quick EDA

In [7]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,label,language,...,friends_count,listed_count,favourites_count,statuses_count,created_at_user,profile_image_url_https,default_profile,default_profile_image,Unnamed: 50,Unnamed: 51
0,1466,1.319119e+18,1.319119e+18,1603337449000,2020-10-22 10:30:49,700,NaN,‡∏ó‡πà‡∏≤‡∏ó‡∏µ‡∏Ç‡∏≠‡∏á‡∏Å‡∏•‡∏∏‡πà‡∏°‡∏ó‡∏µ‡πà‡∏ä‡∏π‡∏õ‡πâ‡∏≤‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏î‡∏µ‡∏™‡∏≥‡πÄ‡∏£‡πá‡∏à‡∏£‡∏π‡∏õ #‡πÄ‡∏£‡∏≤‡∏£‡∏±‡∏Å‡∏™...,0.0,th,...,1569,112,17430,103210,2007-10-21 23:55:18,https://pbs.twimg.com/profile_images/109536683...,FALSE,FALSE,NaN,NaN
1,3547,1.318902e+18,1.318902e+18,1603285654000,2020-10-21 20:07:34,700,NaN,‡∏ó‡πà‡∏≠‡∏á‡∏Ñ‡∏≤‡∏ñ‡∏≤‚Äã #‡πÄ‡∏£‡∏≤‡∏£‡∏±‡∏Å‡∏™‡∏ñ‡∏≤‡∏ö‡∏±‡∏ô‡∏û‡∏£‡∏∞‡∏°‡∏´‡∏≤‡∏Å‡∏©‡∏±‡∏ï‡∏£‡∏¥‡∏¢‡πå ‡πÅ‡∏•‡πâ‡∏ß‡∏ä‡∏π‡∏†‡∏≤...,0.0,th,...,1569,112,17430,103210,2007-10-21 23:55:18,https://pbs.twimg.com/profile_images/109536683...,FALSE,FALSE,NaN,NaN
2,7547,1.318812e+18,1.318812e+18,1603264144000,2020-10-21 14:09:04,700,NaN,‡∏´‡∏≤‡∏Å‡∏ä‡∏≤‡∏ß‚Äã‡πÅ‡∏ô‡∏ß‡∏ó‡∏≤‡∏á‚Äã #‡πÄ‡∏£‡∏≤‡∏£‡∏±‡∏Å‡∏™‡∏ñ‡∏≤‡∏ö‡∏±‡∏ô‡∏û‡∏£‡∏∞‡∏°‡∏´‡∏≤‡∏Å‡∏©‡∏±‡∏ï‡∏£‡∏¥‡∏¢‡πå ‡∏™‡∏•‡∏∞...,0.0,th,...,1569,112,17430,103210,2007-10-21 23:55:18,https://pbs.twimg.com/profile_images/109536683...,FALSE,FALSE,NaN,NaN
3,7595,1.318810e+18,1.318810e+18,1603263893000,2020-10-21 14:04:53,700,NaN,‡∏Ç‡πâ‡∏≠‡πÄ‡∏™‡∏ô‡∏≠‚Äã‡∏õ‡∏è‡∏¥‡∏£‡∏π‡∏õ‚Äã‡∏™‡∏ñ‡∏≤‡∏ö‡∏±‡∏ô‚Äã‡∏Ø ‡∏ó‡∏µ‡πà‡∏à‡∏∞‡∏ä‡∏±‡∏Å‡∏ä‡∏ß‡∏ô‡∏ä‡∏≤‡∏ß‡πÅ‡∏ô‡∏ß‡∏ó‡∏≤‡∏á‚Äã ...,0.0,th,...,1569,112,17430,103210,2007-10-21 23:55:18,https://pbs.twimg.com/profile_images/109536683...,FALSE,FALSE,NaN,NaN
4,7798,1.318807e+18,1.318807e+18,1603262992000,2020-10-21 13:49:52,700,NaN,‡πÅ‡∏ô‡∏ß‡∏ó‡∏≤‡∏á‚Äã #‡πÄ‡∏£‡∏≤‡∏£‡∏±‡∏Å‡∏™‡∏ñ‡∏≤‡∏ö‡∏±‡∏ô‡∏û‡∏£‡∏∞‡∏°‡∏´‡∏≤‡∏Å‡∏©‡∏±‡∏ï‡∏£‡∏¥‡∏¢‡πå ‡∏Ñ‡∏ß‡∏£‡∏¢‡∏¥‡∏ô‡∏î‡∏µ‡∏Å‡∏±...,0.0,th,...,1569,112,17430,103210,2007-10-21 23:55:18,https://pbs.twimg.com/profile_images/109536683...,FALSE,FALSE,NaN,NaN

In [6]:
all(pd.isna(df.place))

True

place columns all na ü§∑‚Äç‚ôÇÔ∏è

In [11]:
pd.isna(df.quote_url).value_counts()

True     3922
False    2176
Name: quote_url, dtype: int64

Many of them are original. not just a retweet. üòç

In [12]:
df.label.value_counts()

1.0    70
0.0    18
Name: label, dtype: int64

In [27]:
df_selected = (df
    .pipe(lambda d: d[pd.isna(d.quote_url)])
    .pipe(lambda d: d[["tweet", "label"]])
    .dropna(subset=["label"])
)

In [28]:
df_selected.shape

(57, 2)

In [29]:
df_selected.label.value_counts()

1.0    42
0.0    15
Name: label, dtype: int64

In [17]:
df_selected.to_csv(dir_store / 'selected.csv')

export to scan thru.